  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
  background: linear-gradient( #000000, #425054);
  color: rgb(44, 255, 72);
  font-family: "Pixelify Sans", sans-serif;
}

header {
  display: flex; 
  position: sticky;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  outline-style:groove;
  outline-color: rgb(82, 30, 98);
  
}

ul {
  display: flex; 
  list-style-type: none; 
  text-decoration: none;
  width: 100%
}

li {
  padding: 10px;
}


li:hover {
  background-color: rgb(82, 30, 98);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
